#attractions {
@include span(12);
overflow: hidden;
  padding: 0;
  @include clearfix;
  z-index: 1;
     background-image: url(../images/union/webster.jpg);
     background-size: 100% auto;
  .lgpic{
  	position: absolute;
  }

}

