#business {
	@include container(100%);
	@include span(12);
	@include display-flex();
	overflow: hidden;
	padding: 0;
	@include clearfix;
	z-index: 1;
	 @include backImage('../images/union/barrister.jpg');

	
	.bldgpic1, .bldgpic2, .bldgpic3, .bldgpic4,.colorpic2 {
		position: absolute;
		height: 100%;
		Width: auto;
		overflow: hidden;
		vertical-align:bottom;
	}//bldgpic



	
	
}//business


