#community {
	@include span(12);
	@include display-flex();
	overflow: hidden;
	padding: 0;
	@include clearfix;
	z-index: 1;
	background-image: url(../images/union/fluffcrowd.jpg);
	background-size: 100% auto;

	
	.lgpic, .lgpic2, .lgpic3, .lgpic4, .lgpic5, .smpic{
	position: absolute;
	}//lgpic smpic
  
}//community


