#picadilly {
@include span(12);
overflow: hidden;
  padding: 0;
  @include clearfix;
  z-index: 1;
     @include backImage('../images/union/unionsquarecafe.jpg');
  .lgpic{
    position: absolute;
  }
	.spacer{
		@include display-flex();
		@include align-items(center);
		@include justify-content(center);  
	}
	 #spacer1 { @include backImage('../images/union/skylineParallax2.jpg');}
}


