#rooms {
@include span(12);
overflow: hidden;
  padding: 0;
  @include clearfix;
  z-index: 1;
  .lgpic{
    position: absolute;
  }
  #piccadilly { @include backImage('../images/hotel/rooms_piccadilly.jpg');}
  #cambridge { @include backImage('../images/hotel/rooms_cambridge.jpg');}
  #westminster {@include backImage('../images/hotel/rooms_westminster.jpg');}
  #oxford {@include backImage('../images/hotel/rooms_oxford.jpg');}
  #victoria {@include backImage('../images/hotel/rooms_victoria.jpg');}
  #manchester {@include backImage('../images/hotel/rooms_manchester.jpg');}
} //rooms


